<form action="/api/products" method="post" class="form__addProduct">

    <label for="">Titulo:</label>
    <input type="text" name="title" placeholder="Nombre del Producto" required>

    <label for="">Descripcion:</label>
    <input type="text" name="description" placeholder="Descripcion del producto" required>

    <label for="">Codigo de reconocimiento:</label>
    <input type="text" name="code" placeholder="Codigo" required>

    <label for="">Precio</label>
    <input type="number" name="price" placeholder="Precio en $$$" required>

    <label for="">Stock:</label>
    <input type="number" name="stock" placeholder="Cantidad del producto" required>

    <label for="">Categoria</label>
    <input type="text" name="category" placeholder="Que tipo de producto es" required>

    <button type="submit">Agregar producto</button>
</form>