<h1 class="title_login">LOGIN</h1>


    <form class="container_login" action="/api/sessions/login" method="post">
        <input type="text" name="email" class="user" placeholder="Nombre de usuario..">
        <input type="password" name="pass" class="pass" placeholder="******">
        <button type="submit"> Ingresar </button>
    </form>

    {{!-- <form action="/api/sessions/sendemail" method="post" class="container_login button_restore">
        <input type="text" name="email", placeholder="email aqui en caso de restablecer contraseña">
        <button type="submit"> Olvide mi contraseña </button>
    </form> --}}
