<h1> MateLazos </h1>

<header>
    <div class="header__container">
        <img src="../static/img/MateLazos-Logo.jpg" alt="Logo">
        <div>
            <img src="../static/img/carrito.png" alt="Cart">
            <span> 0 </span>
        </div>
    </div>

    <div>
        <div style="background-color: red;" style="width: 100% ;"> Contenedor 1</div>
        <div style="background-color: green;" style="width: 100% ;"> Contenedor 2</div>
    </div>
</header>

<h2> Tu mejor mate con nosotros </h2>

<main>
    <ul>
        <li>Imperial</li>
        <li>Camionero</li>
        <li>Jujeño</li>
        <li>Bombillas</li>
        <li>Todos los productos</li>
    </ul>

    <div>CARROUSEL</div>
</main>

<footer>
        <i class="fa-brands fa-instagram"></i>
        <div>
            <i class="fa-sharp fa-solid fa-left-long"></i>
            <span>Contactanos por Instagram y WhatsApp </span>
            <i class="fa-sharp fa-solid fa-right-long"></i>
        </div>
        <i class="fa-brands fa-whatsapp"></i>
</footer>

